<div class="card text-left h-100" style="border-color: transparent;" >
    <div class="card-header d-flex justify-content-between align-items-center" style="border-color: transparent; border-width: 0;">
        <span> 
            Editar dispositivos  
        </span>
        <div class="d-flex">
          <select #carreraSelect  formControlName="idCar" class="form-select short-input "  (change)="onCarreras($event.target)"  >
            <option *ngFor="let carrera of carreras" [value]="carrera.id">{{carrera.nombre}}</option>
            </select>
            <div *ngIf="laboratorios.length > 0">
            <select formControlName="idLab" class="form-select short-input short-inpu2 "(change)="onLaboratorios($event.target)">
                <option *ngFor="let laboratorio of laboratorios" [value]="laboratorio.id">{{laboratorio.nombre}}</option>
            </select>
            </div>  
            <div *ngIf="laboratorios.length > 0">
            <select formControlName="idC" class="form-select short-input short-inpu3 " id="dispositivos" (change)="onCategoria($event.target)"  >
              <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
            </select>
          </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text ct2" style="padding-bottom: 0px; margin-bottom: 1px;">Dispositivos</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>twitter</td>
            </tr>
          </tbody>
        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" style="background-color: #404143e5;">
                    <div class="modal-body align-items-center text-center">
                        <span class="material-symbols-outlined" style="color: white; font-size: 2em;">
                            delete
                        </span>
                    </div>
                    <div class="row text-center">
                        <h5 style="color: white;">¿Estás seguro de eliminar este dispositivo?</h5>
                    </div>
                    <div class="modal-footer d-flex justify-content-center" style="border-color: transparent;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" style="background-color: #1c6ad1de; border-color: transparent;">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
  </div>