<div class="card text-left h-100" style="border-color: transparent;" >
    <div class="card-header d-flex justify-content-between align-items-center" style="border-color: transparent; border-width: 0;">
        <span> 
            Agregar dispositivos  
        </span>
        <div class="d-flex">
            
          <select class="form-select short-input  " id="carreras" (change)="onCarreras($event.target)"  >
            <option value="" disabled selected>Selecciona una carrera</option>

            <option *ngFor="let carrera of carreras" [value]="carrera.id_car">{{carrera.nom_car}}</option>
            </select>
            
        </div>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
      <p class="card-text ct2" style="padding-bottom: 0px; margin-bottom: 1px;">Laboratorios</p>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Laboratorios</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Acción</th>
            
          </tr>
        </thead>
        <tbody *ngIf="laboratorios.length > 0" style="max-height: 200px; overflow-y: auto;">
          
          <tr *ngFor="let laboratorio of laboratorios; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{laboratorio.nom_lab}}</td>
            <td>{{laboratorio.ubi_lab}}</td>
            <td>{{laboratorio.cap_mes_lab}}</td>
            <td><button [value]="laboratorio.id" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onLaboratorios($event.target)">Añadir</button></td>
          </tr>
        
        </tbody>
      </table>
  
      <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-ms">
            <div class="modal-content " style="background-color: #404143e5;">
              <div class="modal-header text-center" style="border-color: transparent; padding-top: 6px; padding-bottom: 0; margin-bottom: 0;">
                <h5 class="mx-auto" style="color: white;">Agregar dispositivo</h5>
                
              </div>
              <div class="modal-header d-flex justify-content-center " style="border-color: rgb(158, 158, 158);">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <div *ngFor="let categoria of categorias">
                    <input type="radio" class="btn-check"  name="btnradio" id="btnradio{{categoria.id}}" autocomplete="off" (click)="onCategoriaSelected(categoria)">
                    <label class="btn btn-outline-secondary" style="border-width: 0;" for="btnradio{{categoria.id}}">{{categoria.nombre}}</label>
                </div>
                </div>
                
              </div>
              <div class="modal-body ">
                  
                <form  [formGroup]="formularioMSG" (ngSubmit)="insertarDispositivos()">  
                <div class="row "> 
                   
                    <div class="mb-3 text-left">
                      <label for="exampleInputPassword1" class="form-label" style="color: white;">Nombre:</label>
                      <input formControlName="nomDis" class="form-control form-control-sm" style="border-color: rgb(138, 138, 138); margin-bottom: 3px;" autocomplete="off">
                      <label for="exampleInputPassword1" class="form-label" style="color: white;">Marca:</label>
                      <input formControlName="marDis" class="form-control form-control-sm" style="border-color: rgb(138, 138, 138); margin-bottom: 3px;" autocomplete="off">
                      <label for="exampleInputPassword1" class="form-label" style="color: white;">Año:</label>
                      <input formControlName="anioDis" class="form-control form-control-sm" style="border-color: rgb(138, 138, 138);" autocomplete="off">
                    </div>
                  
                </div>
                <div class="modal-footer d-flex justify-content-center" style="border-color: transparent;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btn-primary" style="background-color: #1c6ad1de; border-color: transparent;" >Guardar dispositivo</button>
                </div>
              </form>
            </div>
        </div>
    </div>
    </div>
