<div class="container-principal"> 
    <div class="card text-center">
        <div class="card-header">
        Administrador  
        </div>
        <div class="card-body">
        <div class="card-body">
            <h5 class="card-title">Editar Laboratorios</h5>
            <p class="card-text">De igual manera podras editar y eliminar dentro de cada laboratorio</p>
            <a href="./delete-lab/" class="btn-E btn">Editar</a>
        </div>
        <div class="card-footer text-body-secondary">
        GrupoDinmita
        </div>
    </div>
</div>