<div class="container-principal">
    <div class="card text-center">
      <div class="card-header">
        Administrador
      </div>
      <div class="card-body">
        <h5 class="card-title">Añadir más Carreras</h5>
        <p class="card-text">Como administrador podrás crear las carreras que se te soliciten</p>
        <a href="./crear-car" class="btn-A btn">Añadir</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Editar Carreras</h5>
        <p class="card-text">De igual manera podrás eliminar cada carrera</p>
        <div class="btn-group" role="group" aria-label="Editar y Eliminar">
          <a href="./eliminar-car" class="btn-E btn">Eliminar</a>
         
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        GrupoDinamita
      </div>
    </div>
  </div>
