<div class="container-principal">
    <div class="card text-center">
      <div class="card-header">
        Administrador123
      </div>
      <div class="card-body">
        <h5 class="card-title">Añadir más Laboratorios</h5>
        <p class="card-text">Como administrador podrás crear los laboratorios que se te soliciten</p>
        <a href="./crear-car" class="btn-A btn">Añadir</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Editar Laboratorios</h5>
        <p class="card-text">De igual manera podras eliminar a cada laboratorio</p>
        <div class="btn-group" role="group" aria-label="Editar y Eliminar">
          <a href="" class="btn-E btn">Eliminar</a>
         
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        GrupoDinmita
      </div>
    </div>
  </div>
