<div class="container-principal">
  <div class="card text-center">
    <div class="card-header">
      Administrador
    </div>
    <div class="card-body">
      <h5 class="card-title">Añadir más Laboratorios</h5>
      <p class="card-text">Como administrador podrás crear los laboratorios que se te soliciten</p>
      <a href="./add-lab" class="btn-A btn">Añadir</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Acciones de Laboratorios</h5>
      <p class="card-text">De igual manera podras realizar algunas acciones en los laboratorio</p>
      <div class="btn-group" role="group" aria-label="Editar y Eliminar">
        <a href="./delete-lab/" class="btn-E btn">Ingresar</a>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      GrupoDinmita
    </div>
  </div>
</div>