<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<div class="container">
    <h2>Estoy en el lab: {{labId}}</h2>
    <div class="col-12">
        <form [formGroup]="formularioMSG">
            <div>
                <label class="form-label">Categoría:</label>
                <select formControlName="idC" class="form-select form-select-lg mb-3"
                    (change)="onCategoria($event.target)">
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
                </select>
            </div>

            <div *ngIf="dispositivos.length > 0">
                <label class="form-label">Dispositivos:</label>
                <select formControlName="idD" class="form-select form-select-lg"
                    (change)="getComments($event.target)">
                    <option *ngFor="let disp of dispositivos" [value]="disp.id">{{disp.nombre}}</option>
                </select>
            </div>
            <br>
            <div *ngIf="selectedDispositivo.id !== ''">
                <label class="form-label">Comentarios:</label>
                <br>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr *ngFor="let com of comentarios">
                            <td>{{com.idDispositivo}}</td>
                            <td>{{com.comentario}}</td>
                            <td>
                                <button type="button" class="btn btn-success" [value]="com.id" (click)="revisar($event.target)">Revisado</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </div>
</div>