
.container-principal {
    padding-inline: 300px;
    padding-block: 225px;
}


.btn-A{
    display: inline-block;
    padding: 10px 20px; 
    background-color: #28a745; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.card {
    background-color: rgba(255, 255, 255, 0.7);
}
.btn-A:hover {
    background-color: #218838;
}
.btn-E {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-E:hover {
    background-color: #c82333;
}

.btn2 {
    text-align: left; border-color: transparent; background-color: transparent;
    color: black;
}
.btn2p {
    text-align: left; border-color: transparent; background-color: #b9b5b44b;
    color: black;
}
.btn2:hover {
    background-color: #b9b5b44b;
    
}  

.ct2{
    
    color: rgba(138, 136, 136, 0.966);
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

.short-input {
    height: 35px;
    width: 200px;
    font-size: 15px; 
    background-color: transparent;
    border-color: transparent;
    color: rgb(102, 102, 102);
}