

.navbar {
      background-color: rgb(177, 175, 175);
      color: rgb(255, 255, 255);
      font-family: 'Rubik Doodle Shadow', sans-serif;
    }
    
    
    .navbar form {
      margin-right: 20px; 
    }
    
    .navbar-brand:hover {
      color: rgb(255, 255, 255); 
    }