<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/mostrar-lab">CARRERAS</a>
      <a class="navbar-brand" href="/add-lab">LABORATORIOS</a>
      <a class="navbar-brand" href="/add-lab">BIENES</a>
      <a class="navbar-brand" routerLink="/delete-lab">COMENTARIOS</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </nav>