<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

<nav class="navbar  border-bottom border-body">
    <div class="container-fluid">
      <!--<a class="navbar-brand"><img src="./../img/logo_de_admin.png"> </a>-->
      <a class="navbar-brand"> L O G O </a>
      <a class="navbar-brand" routerLink="/mostrar-lab">CARRERAS</a>
      <a class="navbar-brand" href="/add-lab">LABORATORIOS</a>
      <a class="navbar-brand" href="/add-lab">BIENES</a>
      <a class="navbar-brand" routerLink="/delete-lab">COMENTARIOS</a>
       
    </div>
  </nav>