<div class="container-principal"> 
    <div class="card text-center">
        <div class="card-header">
        Administrador  
        </div>
        <div class="card-body">
        <h5 class="card-title">INGRESA LOS DATOS PARA UN NUEVO LABORATORIO</h5>
        <p class="card-text">Como administrador podras crear los laboratorios que se te soliciten</p>
        <a href="./add-lab" class="btn-A btn">Añadir</a>
        </div>
        <div class="card-footer text-body-secondary">
        GrupoDinmita
        </div>
    </div>
</div>