<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="container-principal"> 
    <div class="card text-center ">
        <div class="card-header">
            Administrador  
        </div>
        <form action="/procesar-formulario" method="post" class="p-3">
            <div class="mb-3 row">
                <label for="nombreLab" class="col-sm-4 col-form-label text-end">Elija una carrera</label>
                <div class="col-sm-8">
                    <select class="form-select short-input" id="carrera" name="carrera" required>
                        <option value="ingenieria_software">Ingeniería en Software</option>
                        <option value="ingenieria_ti">Ingeniería en TI</option>
                        <option value="ingenieria_telecomunicaciones">Ingeniería en Telecomunicaciones</option>
                       
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nombreLab" class="col-sm-4 col-form-label text-end">Nombre del Laboratorio</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control input-placeholder short-input" id="nombreLab" name="nombreLab" required placeholder="Nombre del Laboratorio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nombreLab" class="col-sm-4 col-form-label text-end">Ubicacion</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control input-placeholder short-input" id="nombreLab" name="nombreLab" required placeholder="Ubicacion">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nombreLab" class="col-sm-4 col-form-label text-end">Capacidad de mesas</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control input-placeholder short-input" id="nombreLab" name="nombreLab" required placeholder="Capacidad de mesas" min="0">
                </div>
            </div>

           
            <button type="submit" class="btn"><span class="material-symbols-outlined">save_as</span></button>
        </form>
        <div class="card-footer text-body-secondary">
            GrupoDinmita
        </div>    
    </div>
</div>
