<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="container-principal"> 
    <div class="card text-center ">
        <div class="card-header">
            Administrador  
        </div>
        <form method="get" class="p-3" [formGroup]="Formulario" (ngSubmit)="insert()" >
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-end">Nombre: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control input-placeholder short-input" id="nombre" name="nombre" required placeholder="Nombre del usuario" formControlName="nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label  class="col-sm-4 col-form-label text-end">Correo: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control input-placeholder short-input" id="correo" name="correo" required placeholder="Correo electrónico" formControlName="correo" >
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label text-end">Contraseña: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control input-placeholder short-input" id="password" name="password" required placeholder="Contraseña" min="0" formControlName="password">
                </div>
            </div>           
            <button type="submit" class="btn"><span class="material-symbols-outlined">save_as</span></button>
        </form>
        <div class="card-footer text-body-secondary">
            GrupoDinamita
        </div>    
    </div>
</div>
