<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

<nav class="navbar  border-bottom border-body">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/img/user_user_thump_user_icon_user_profile_icon_149320.png" style="width:    80px; height: 70px;"> 
      </a>
      <a class="navbar-brand" routerLink="#" style="margin-right: 100%;">
        CARRERAS
      </a>
      
    </div>
</nav>
  <router-outlet></router-outlet>