<div class="container-principal">
    <div class="card text-center">
      <div class="card-header">
        ELIJE DE QUE FACULTAD NECESITAS VER ALGUN TIPO DE INFORMACION
      </div>
      <div class="card-body" *ngFor="let carrera of car">
        <h5 class="card-title">{{ carrera.nom_car }}</h5>
        <button [value]="carrera.id_car" class="btn-A btn" (click)="callComment($event.target)">Ver Laboratorios</button>
      </div>
      <div class="card-footer text-body-secondary">
        GrupoDinmita
      </div>
    </div>
  </div>