<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <title>Clasificación de Usuarios y Técnicos</title>
</head>
<body>

  <div class="container mt-4">
    
    <div class="d-flex justify-content-between mb-2">
      <h2>Técnicos</h2>
     
      <a href="/sidebar-user/add-tec/" button class="btn btn-success">Añadir Técnico</a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Correo electrónico</th>
        </tr>
      </thead>
      <tbody>
        <!-- Agrega aquí las filas de datos para usuarios -->
        <tr>
          <td>1</td>
          <td>Usuario1</td>
          <td>usuario1.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Usuario2</td>
          <td>usuario2.com</td>
        </tr>
        <!-- ... -->
      </tbody>
    </table>

    <div class="d-flex justify-content-between mb-2">
      <h2 class="mt-4">Usuarios</h2>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Correo electrónico</th>
        </tr>
      </thead>
      <tbody>
        <!-- Agrega aquí las filas de datos para técnicos -->
        <tr>
          <td>1</td>
          <td>Técnico1</td>
          <td>Redes</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Técnico2</td>
          <td>Soporte</td>
        </tr>
        <!-- ... -->
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
